.projects-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects-page-main ul.projects-main-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 90%;
    list-style: none;
}