.description {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 1%;
    justify-content: center;

    & .description-data {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;

        & p {
            margin: 0;
            font-size: 25px;
        }

        & p:nth-child(2) {
            font-weight: 600;
            font-size: 50px;
            color: var(--light-neon-blue);
        }
    }

    & .description-image {
        width: 30%;
        display: flex;
        padding-right: 10%;

        & .image {
            width: 300px;
            height: 300px;
            overflow: hidden;

            & img {
                position: absolute;
                width: 250px;
                height: 250px;
                object-fit: cover;
                transition: opacity 0.5s ease-in-out;

                &:hover {
                    opacity: 0;
                }
            }

            & .second-image {
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }


        }
    }

}